* {
    border: none;
    font-family: JetBrainsMono Nerd Font;
    font-size: 12px;
    min-height: 0;
    border-radius: 10px;
    
}

window#waybar {
    background: transparent;
    color: #ebdbb2;
} tooltip { background: #282828;
}

tooltip label {
  color: #ebdbb2;
}

#custom-notificationCenter {
    background: #b8bb26;   
    color: #ebdbb2;
    border-bottom: 5px solid #98971a;
    padding: 0 20px;
    
}

#custom-weather {
    background: #8ec07c;
    color: #ebdbb2;
    border-bottom: 5px solid #689d6a;
    
}

#custom-powerMenu {
    padding: 0 20px;
    background: #fb4934;
    color: #ebdbb2;
    border-bottom: 5px solid #cc241d;
}

#bluetooth {
    background: #b8bb26;
    border-bottom: 5px solid #98971a;
    font-size: 20px;
}
 
#workspaces {
    border-bottom: 5px solid #3c3836;
    background: #504945;
    
}

#workspaces button {
    background: #282828;
    color: #ebdbb2;
    padding: 0 10px;
    margin: 3px;
    border-bottom: 5px solid #1d2021;
    
}

#workspaces button.focused {
    background: #7c6f64;
}

#workspaces button.active {
    background: #282828;
    color: #ebdbb2;
    border-bottom: none;
}

#tray {
    background: #b8bb26;
    color: #ebdbb2;
    border-bottom: 5px solid #98971a;
}

#network, #battery, #pulseaudio, #language, #tray, #custom-weather, #bluetooth {
    padding: 10px;
}

#language {
    background: #d3869b;
    color: #ebdbb2; 
    margin: 0;
    border-bottom: 5px solid #b16286;
}


#network {
    background: #fe8019;
    color: #ebdbb2;
    border-bottom: 5px solid #d65d0e;
}

#clock {
    background: #fb4934;
    color: #ebdbb2;
    padding: 0 20px;
    border-bottom: 5px solid #cc241d;
}

#battery {
    background: #83a598;
    color: #ebdbb2;
    border-bottom: 5px solid #458588;
}

#battery.charging {
    color: #ebdbb2;
    background-color: #b8bb26;
    border-bottom: 5px solid #98971a;
}

#pulseaudio {
    color: #ebdbb2;
    background: #fabd2f;
    border-bottom: 5px solid #d79921;
}

@keyframes blink {
    to {
        background-color: #83a598;
        border-bottom: 5px solid #458588;
        color: #ebdbb2;
    }
}

#battery.warning:not(.charging) {

    background: #fabd2f;
    color: #ebdbb2;
    border-bottom: 5px solid #d79921;

    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
} 

#battery.critical:not(.charging) {

    background: #fb4934;
    color: #ebdbb2;
    border-bottom: 5px solid #cc241d;

    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
} 
